<!DOCTYPE html>
<html>
<head>
    <title>Expediente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container mt-4">

<h1>{{ exp.caratula }}</h1>

<hr>

<h3>📌 Datos</h3>
<ul>
    <li>Jurisdicción: {{ exp.jurisdiccion }}</li>
    <li>Tipo: {{ exp.tipo_proceso }}</li>
</ul>

<hr>

<h3>👥 Partes</h3>
<ul>
{% for p in exp.partes %}
    <li>{{ p.tipo }}: {{ p.nombre }}</li>
{% endfor %}
</ul>

<hr>

<h3>⏳ Plazos</h3>
<ul>
{% for pl in exp.plazos %}
    <li>
        {{ pl.tipo }} - {{ pl.fecha_vencimiento }}
        {% if not pl.cumplido %}
            <a href="/generar/{{ pl.id }}" class="btn btn-sm btn-primary">Generar</a>
            <a href="/plazo/{{ pl.id }}/cumplir" class="btn btn-sm btn-success">
                Marcar cumplido
            </a>
        {% else %}
          <span class="badge bg-success">✔ Cumplido</span>
        {% endif %}
    </li>
{% endfor %}
</ul>

<hr>

<h3>📄 Documentos</h3>
<ul>
{% for d in exp.documentos %}
    <li>
    {{ d.tipo }} -
    <a href="/documento/{{ d.id }}">Abrir</a>
    <a href="/documento/{{ d.id }}" class="btn btn-sm btn-outline-primary">
        Ver
    </a>
</li>
{% endfor %}
</ul>
<hr>

<h3>📚 Actuaciones</h3>

<ul>
{% for a in exp.actuaciones %}
    <li>
        {{ a.fecha }} - {{ a.tipo }} - {{ a.descripcion }}
    </li>
{% endfor %}
</ul>
<a href="/expediente/{{ exp.id }}/actuacion/nueva" class="btn btn-primary mb-3">
    ➕ Nueva actuación
</a>

<hr>

<h3>🕒 Timeline</h3>

<h5>🔴 Hoy</h5>
{% for e in eventos_agrupados.hoy %}
<div class="card mb-2 border-danger">
    <div class="card-body">
        <strong>{{ e.titulo }}</strong><br>
        <small>{{ e.detalle }}</small>

        {% if e.accion %}
            <div class="mt-2">
                👉 {{ e.accion }}
            </div>
        {% endif %}
    </div>
</div>
{% endfor %}

<h5>🟡 Reciente</h5>
{% for e in eventos_agrupados.reciente %}
<div class="card mb-2 border-warning">
    <div class="card-body">
        <strong>{{ e.titulo }}</strong><br>
        <small>{{ e.detalle }}</small>
    </div>
</div>
{% endfor %}

<h5>🔵 Histórico</h5>
{% for e in eventos_agrupados.historico %}
<div class="card mb-2 border-secondary">
    <div class="card-body">
        <strong>{{ e.titulo }}</strong><br>
        <small>{{ e.detalle }}</small>
    </div>
</div>
{% endfor %}

</body>
</html>