{% extends "base.html" %}

{% block title %}
Expedientes
{% endblock %}

{% block content %}

<h1>
    📂 Expedientes
</h1>

<table class="table table-striped">

    <thead>

        <tr>
            <th>ID</th>
            <th>Carátula</th>
            <th>Jurisdicción</th>
            <th>Tipo</th>
        </tr>

    </thead>

    <tbody>

    {% for e in expedientes %}

        <tr>

            <td>{{ e.id }}</td>

            <td>

                <a href="/expediente/{{ e.id }}">
                    {{ e.caratula }}
                </a>

            </td>

            <td>{{ e.jurisdiccion }}</td>

            <td>{{ e.tipo_proceso }}</td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}