{% extends "base.html" %}

{% block content %}

<h1>
    ➕ Nueva actuación
</h1>

<form method="POST">

    <div class="mb-3">

        <label class="form-label">
            Tipo
        </label>

        <input
            name="tipo"
            class="form-control"
            placeholder="Ej: traslado"
        >

    </div>

    <div class="mb-3">

        <label class="form-label">
            Descripción
        </label>

        <textarea
            name="descripcion"
            class="form-control"
            rows="5"></textarea>

    </div>

    <button class="btn btn-success">

        Guardar actuación

    </button>

</form>

{% endblock %}